@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.App {
  display: flex;
  font-family: "Gotham Pro", sans-serif;
  min-width: 320px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  min-height: 100vh;
  height: 100vh;
  width: 70px;
  background: #FFFFFF;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  padding: 20px 0 10px 0;
  transition: width ease-in-out 0.5s;
  font-size: 16px;
}
nav .controls-containerm, nav .logo-container {
  display: flex;
  flex-direction: column;
}
nav .logo-container img {
  width: 30px;
}
nav .controls-container .icons {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav .icons:hover svg path, nav .icons:hover svg circle {
  transition: all ease-in 0.2s;
}
nav .icons:hover svg path {
  stroke: #806CFB;
}
nav .icons:hover svg circle {
  stroke: #806CFB;
}

nav:hover {
  width: 100px;
}

.dashboard {
  padding: 30px;
  width: 100%;
}
.ticket-wrapper {
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 3px 6px 41px rgba(5, 3, 13, 0.05);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(59.04deg, #57cfd1 6%, #51a7f3 91%);
  border-radius: 15px;
}
.ticket-wrapper .ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ticket-wrapper .ticket-card-header__name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  max-width: 140px;
}
.ticket-wrapper .ticket-card-header .go-to {
  opacity: 1;
  border: 1.7px solid #FFFFFF;
  border-radius: 10px;
  width: 31px;
  height: 31px;
  min-width: 31px;
  min-height: 31px;
  transition: all ease-in 0.3s;
}
.ticket-wrapper .ticket-card-header .go-to:hover {
  border: 2px solid #806CFB;
}
.ticket-wrapper .ticket-card-header .go-to svg path {
  transition: all ease-in 0.3s;
}
.ticket-wrapper .ticket-card-header .go-to:hover svg path {
  fill: #806CFB;
}
.ticket-wrapper #link h3 {
  margin: 0;
}
.ticket-wrapper #link > * {
  background: transparent;
  align-items: center;
}
.ticket-wrapper #link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}
.ticket-wrapper .ticket-color {
  padding: 10px !important;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.ticket-wrapper .avatar-container {
  display: flex;
  justify-content: center;
}
.ticket-wrapper .avatar-container .img-container {
  width: 41px;
  height: 41px;
  border-radius: 13px;
  overflow: hidden;
}
.ticket-wrapper .avatar-container .img-container img {
  width: 100%;
}
.ticket-wrapper .priority-display {
  display: flex;
  justify-content: center;
}
.ticket-wrapper .priority-display .star-container {
  display: flex;
}
.ticket-wrapper .priority-display .star-container h3 {
  margin: 7px;
  padding: 0px;
  font-size: 12px;
}
.ticket-wrapper .progress-bar {
  height: 15px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 15px;
  overflow: hidden;
  color: #FFFFFF !important;
  font-weight: 100;
  font-size: 11px;
}
.ticket-wrapper .progress-bar .progress-indicator {
  background-color: #806CFB;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-wrapper .delete-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ticket-wrapper .delete-block .delete-icon {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.ticket-wrapper .divider {
  opacity: 0.5;
  border-bottom: 1.7px solid #FFFFFF;
}

.ticket {
  padding: 30px;
  width: 100%;
}
.ticket .ticket-container {
  width: 100%;
}
.ticket form {
  display: flex;
}
.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}
.ticket form label {
  margin: 20px 0px 0px 0px;
}
.ticket form select, .ticket form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(218, 218, 218);
  margin: 5px;
}
.ticket form .multiple-input-container {
  margin: 20px 0px 20px 0px;
}
.ticket .img-preview img {
  max-width: 150px;
  max-height: 150px;
}

h3.category {
  border-radius: 15px;
  max-width: 124px;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  position: relative;
  top: 30px;
  left: 10px;
  z-index: -1;
  padding: 5px 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.preloader {
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
}

.ticket .preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dashboard .preloader {
  width: 100%;
  height: 100%;
  background: transparent;
}

.filter label {
  border: 1px solid #6046FF;
  border-radius: 30px;
  font-size: 20px;
  color: #6046FF;
  padding: 5px 7px;
  transition: all ease-in 0.3s;
  cursor: pointer;
}
.filter label:hover {
  background: linear-gradient(180deg, #8D7AFC 0%, #6349FF 100%);
  color: #FFFFFF;
}
.filter input[type=radio] {
  display: none;
}
.filter input[type=radio]:checked + label {
  background: linear-gradient(180deg, #8D7AFC 0%, #6349FF 100%);
  color: #FFFFFF;
}

.ticket-block {
  max-width: 288px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  padding: 10px 30px 10px 30px;
  box-shadow: 3px 6px 41px rgba(5, 3, 13, 0.05);
}
header .profile-scope {
  cursor: pointer;
}
header .header-user {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}
header .header-user img {
  width: 100%;
  border-radius: 50%;
}

.charts canvas {
  max-width: 350px;
  max-height: 350px;
}

.toast-order {
  position: absolute;
  left: calc(100vw - 360px);
  top: 80px;
}