@import 'nullset.scss';


.App{
     display: flex;
}

nav{
     display: flex;
     flex-direction: column;
     font-size: 30px;
     height: 100vh;
     background-color: rgb(43, 43, 63);
     color: rgb(255, 255, 255);
     text-align: center;
     justify-content: space-between;

     .controls-containerm, .logo-container{
          padding: 40px 25px;
          display: flex;
          flex-direction: column;
     }

     .logo-container img{
          width: 20px;
     }
     
     .controls-container .icons{
          color: rgb(255, 255, 255);
          cursor: pointer;
     }
}

.dashboard{
     padding: 30px;
     width: 100%;

     .ticket-container{
          height: 80vh;
          // overflow: scroll;
     }
}

.ticket-card{
     display: flex;
     width: 100%;
     #link{
          display: flex;
          width: 100%;
     }
     #link > *{
          background-color: rgb(221, 221, 221);
          margin: 2px;
          padding: 30px;
          width: 100%;
          display: flex;
          align-items: center;
     }
     #link{
          text-decoration: none;
          color: rgb(46, 46, 46);
     }

     .ticket-color{
          width: 15px !important;
          padding: 10px !important;
          margin: 2px;
     }

     .avatar-container{
          display: flex;
          justify-content: center;
          width: 80px;
          .img-container{
               width: 50px;
               height: 50px;
               border-radius: 50%;
               overflow: hidden;
               img{
                    width: 100%;
               }
          }
     }

     .status-display{
          display: flex;
          justify-content: center;
     }

     .priority-display{
          display: flex;
          justify-content: center;
          .star-container{
               display: flex;
               h3{
                    margin: 7px;
                    padding: 0px;
                    font-size: 18px;
               }
          }
     }

     .progress-display{
          min-width: 200px;
     }
     .progress-bar{
          width: 100%;
          height: 30px;
          background-color: rgb(158, 158, 158);
          border-radius: 15px;
          overflow: hidden;
          .progress-indicator{
               background-color: rgb(104, 104, 175);
               height: 100%;
          }
     }

     .delete-block{
          display: flex;
          background-color: rgb(211, 211, 211);
          width: 50px;
          margin: 2px;
          justify-content: center;
          align-items: center;
          .delete-icon{
               width: 20px;
               height: 20px;
               border-radius: 10px;
               background-color: rgb(61, 61, 61);
               display: flex;
               justify-content: center;
               align-items: center;
               color: rgb(255, 255, 255);
               // font-size: 30px;
               cursor: pointer;
          }
     }
}


.ticket {
     padding: 30px;
     width: 100%;

     .ticket-container{
          width: 100%;
          display: flex;
          justify-content: center;
     }

     form{
          display: flex;
          section{
               display: flex;
               flex-direction: column;
               margin: 10px;
               width: 500px;
          }
          label{
               margin: 20px 0px 0px 0px;
          }
          select, input{
               padding: 10px;
               font-size: 15px;
               border-radius: 10px;
               border: 1px solid rgb(218, 218, 218);
               margin: 5px;
          }
          .multiple-input-container{
               margin: 20px 0px 20px 0px;
          }
     }
     .img-preview img{
          max-width: 150px;
          max-height: 150px;
     }
}

.preloader{
     display: flex;
     background-color: #f3f3f3;
     justify-content: center;
     align-items: center;
}

.ticket{
     .preloader{
          position: absolute;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          z-index: 3;
     }
     
}

.loader {
     border: 10px solid #f3f3f3;
     border-top: 10px solid #3498db;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     animation: spin 1s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}

.dashboard{
     .preloader{
          width: 100%;
          height: 100%;
          background: transparent;
     }
}

.filter{
     label {
          display: inline-block;
          border: solid 2px red;
          font-size: 20px;
     }

     input[type="radio"] {
          display: none;
     }

     input[type="radio"]:checked + label {
          border: solid 2px green;
     }
}


