@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.App {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100vh;
  background-color: rgb(43, 43, 63);
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: space-between;
}
nav .controls-containerm, nav .logo-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}
nav .logo-container img {
  width: 20px;
}
nav .controls-container .icons {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dashboard {
  padding: 30px;
  width: 100%;
}
.dashboard .ticket-container {
  height: 80vh;
}

.ticket-card {
  display: flex;
  width: 100%;
}
.ticket-card #link {
  display: flex;
  width: 100%;
}
.ticket-card #link > * {
  background-color: rgb(221, 221, 221);
  margin: 2px;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.ticket-card #link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}
.ticket-card .ticket-color {
  width: 15px !important;
  padding: 10px !important;
  margin: 2px;
}
.ticket-card .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}
.ticket-card .avatar-container .img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.ticket-card .avatar-container .img-container img {
  width: 100%;
}
.ticket-card .status-display {
  display: flex;
  justify-content: center;
}
.ticket-card .priority-display {
  display: flex;
  justify-content: center;
}
.ticket-card .priority-display .star-container {
  display: flex;
}
.ticket-card .priority-display .star-container h3 {
  margin: 7px;
  padding: 0px;
  font-size: 18px;
}
.ticket-card .progress-display {
  min-width: 200px;
}
.ticket-card .progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}
.ticket-card .progress-bar .progress-indicator {
  background-color: rgb(104, 104, 175);
  height: 100%;
}
.ticket-card .delete-block {
  display: flex;
  background-color: rgb(211, 211, 211);
  width: 50px;
  margin: 2px;
  justify-content: center;
  align-items: center;
}
.ticket-card .delete-block .delete-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding-bottom: 4.5%;
  cursor: pointer;
}

.ticket {
  padding: 30px;
  width: 100%;
}
.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ticket form {
  display: flex;
}
.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}
.ticket form label {
  margin: 20px 0px 0px 0px;
}
.ticket form select, .ticket form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(218, 218, 218);
  margin: 5px;
}
.ticket form .multiple-input-container {
  margin: 20px 0px 20px 0px;
}