@import 'nullset.scss';


.App{
     display: flex;
}

nav{
     display: flex;
     flex-direction: column;
     font-size: 30px;
     height: 100vh;
     background-color: rgb(43, 43, 63);
     color: rgb(255, 255, 255);
     text-align: center;
     justify-content: space-between;

     .controls-containerm, .logo-container{
          padding: 40px 25px;
          display: flex;
          flex-direction: column;
     }

     .logo-container img{
          width: 20px;
     }
     
     .controls-container .icons{
          color: rgb(255, 255, 255);
          cursor: pointer;
     }
}

.dashboard{
     padding: 30px;
     width: 100%;

     .ticket-container{
          height: 80vh;
          // overflow: scroll;
     }
}

.ticket-card{
     display: flex;
     width: 100%;

     #link{
          display: flex;
          width: 100%;
     }
     #link > *{
          background-color: rgb(221, 221, 221);
          margin: 2px;
          padding: 30px;
          width: 100%;
          display: flex;
          align-items: center;
     }

     .ticket-color{
          width: 15px !important;
          padding: 10px !important;
          margin: 2px;
     }

     .avatar-container{
          display: flex;
          justify-content: center;
          width: 80px;
     }
}
